/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.inner-wrapper {
    width: 100%;
}

.header-section-bg {
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/head_section_bg_1600x670.jpg') no-repeat;
    background-size: cover;
}

.inner-section {
    width: 960px;
    margin: 0 auto;
}

#header-section {
   height: 670px;
}

#logo-wrap {
    float: left;
    width: 18%;
}

.logo-img {
    width: 128px;
    height: 50px;
    display: block;
    margin: 15px 15px;
    background: url('../img/logo_128x50.png') no-repeat;
}

#header-menu {
    float: left;
    width: 82%;
    height: 50px;
    padding: 15px 0;
}

#header-menu .inline-menu {
    float: right;
    list-style: none;
}

#header-menu .inline-menu li {
    display: inline;
}

#header-menu .inline-menu li a {
    margin: 16px;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

#header-menu .inline-menu li a:hover {
    color: #00e0d0;
}

#header-menu .inline-menu li a.menu-item-active {
    color: #00e0d0;
}

#header-title {
    float: left;
    width: 100%;
    margin: 150px 0 0;
}

#header-title h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.separator {
    height: 0px;
    width: 50px;
    margin: 5px auto;
    border-top: 1px solid #FFF;
}

#header-text {
    float: left;
    width: 100%;
    height: 100px;
    margin: 20px 0;
}

#header-text p {
    color: #FFF;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#header-footer {
    float: left;
    width: 100%;
}

a.dark-button {
    width: 120px;
    padding: 15px;
    color: #00e0d0;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #00e0d0;
}

a.dark-button:hover {
    color: #FFF;
    background-color: #00e0d0;
}

.carousel-nav {
    padding: 0;
    text-decoration: none;
    width: 100px;
    margin: 80px auto;
}

.carousel-nav li {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

.carousel-nav li a {
    margin: 5px;
    float: left;
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #00e0d0;
    border-radius: 100px;
}

.carousel-nav-active, .carousel-nav li a:hover {
    background-color: #00e0d0;
}
.row{
	width: 1200px;
    margin: 50px auto;
}
#about{
     height: 300px;
     margin: 50px auto;
     margin-left: 100px;
     padding-left: 150px;
     
}

#about-img{
    float: left;
 
}

.single_about_left_img{
    width: 235px;
    height: 237px;
    display: block;
    margin: 50px 30px;
    background: url('../About-LOGO_235x237.png') no-repeat;


    
    	
}

#about-right-section {
    float: left;
    width: 850px;
    height: 300px;
    margin: 10px;
    padding-left: 10px;


}

#about-text p {
    color: #000;
    width: 80%;
    margin: 10px auto;
    text-align: left;
    padding-left: 25px;

}
#about-text h2 {
    color: #000;
    width: 80%;
    margin: 10px auto;
    text-align: left;
    padding-left: 25px;
    font-family: "Times New Roman", Times, serif;
}

#About-footer{
    float: left;
    width: 50%;
    
}

a.dark-button1 {
    width: 120px;
    padding: 15px;
    color: #00e0d0;
    display: block;
    margin: 0 auto;
    margin-left: 90px;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #00e0d0;
}

a.dark-button1:hover {
    color: #FFF;
    background-color: #00e0d0;
}
div.video_overlay{
    width: 100%;
    height: 600px;
    margin: 0px auto;
}

.video_overlay {
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../under-gredient_1705x625.png') no-repeat;
    background-size: cover;
}

.icon{
    width: 100%;
    height: 600px;
    display: block;
    margin: 150px auto;
    align-items: center;
    position: center;
    padding-top: 250px;
    padding-left: 500px;
}
#play-media{
	width: 150px;
    height: 150px;
    display: block;
    background: url('../Play-button_144x144.png') center no-repeat;
    margin: 0 auto;
    color: #FFF;
    background-color: 
    align-items: center;
    position: absolute;
    padding-left: 850px;
}
#play-media:hover{

}
#play-text h2{
	
	width: 500px;
	color: #FFF;
	text-align: center;
	padding-top: 130px;
	padding-left: 250px;
	margin-right: 200px;
	font-family: "Times New Roman", Times, serif;
	
}
#inner-Expertise{
	width: 100%;
    height: 800px;
    margin: 0px auto;

}

#header-expertise{
	margin:100px;
	font-family: "Times New Roman", Times, serif;
}

#header-expertise h2{
	color: #000;
    text-align: center;
    margin: 10px auto;

}


#header-expertise p{
	color: #2F4F4F;
    text-align: center;
    margin: 0 auto;

}
.separator1 {
    height: 0px;
    width: 50px;
    margin: 30px auto;
    border-top: 1px solid #A9A9A9;
}
#expertise-area{
	height:600px;
	width:60%;
	margin-left: 500px; 
	padding-left: 100px;
	padding-right: 100px;
}
div.Expert{
	height:250px;
	width:30%;
	float:left;
	margin:10px;
	padding-left: 10px;

}
.small_img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px 10px;
    background: url('../img/logo_128x50.png') no-repeat;
    margin-left: 100px;
}

#expertise-area h3{
text-align:center;
}
#expertise-area p{
text-align:center;
}
.separator2 {
    height: 0px;
    width: 100%;
    margin: 30px auto;
    border-top: 1px solid #A9A9A9;
    float: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}