#login{
	width :120px;
}
#signUp{
	width :120px;
}

.panel-heading{
	background-color: #0000CD;
}


#heading-title{
background-color: #0000FF;
text-align: center;
color: #FFFAF0;
}
#heading-title2{
background-color: #0000FF;
text-align: center;
color: #FFFAF0;
}

.mystyle{
	width:300px;
	height:400px;
	font-style: italic;
	
}

#instaImage{
	width: 200px;
	padding-top:10px;
	float:left;
}
.navWidth{
	width:700px;
	float: left;
	height: 60px;
}
#person{
	width:20px;
	height: 20px;
	padding-left: 35px;
	margin:15px; 


}
#likes{
	width:20px;
	height: 20px;
	padding-left: 40px;
	margin-left: -100px;
}
.Search{
	width:100px;
	height: 20px;
	margin: 0 auto;
	position: absolute;
	padding-right: 400px;
	margin-left: 120px;
	float: left;
}
.SearchInsta{
	padding-left: 40px;
}
#whenLoggedIn{
	float: left;
	width:750px;
	padding-left: 100px;

}
.rightIcons{
	float: left;
	width: 160px;
	

}

#Poststyle{
	
	font-style: italic;
	background-color: #0000FF;
	text-align: center;
	color: #FFFAF0;
}

.caption{
	margin-left: 10px;
}

.share{
	width:350px;
	margin-left:-80px;
}

#upload-img{
	float: left;

}