/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */




 #container { position:absolute; top:30px; left:20px; border:1px solid black; height:600px; width:1200px; }
 #content h1 {text-align:center;}
  #instruction {text-align:center;}

 #bar0 { position:absolute; top:200px; left:190px; height:300px; width:30px; }

 #bar1 { position:absolute; top:200px; left:500px; height:300px; width:30px; }

 #bar2 { position:absolute; top:200px; left:810px; height:300px; width:30px; }

 .disk { padding:0; margin:0; position:absolute; border:1px solid gray; height:26px; 
         -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px;}

 /* left of disk0 at 35px; left = 130 (bar0 left) -w/2 + 15 (bar width/2)  */
 #disk0 { top:474px; left:35px;background:#2F4F4F; width:340px;  } 
 #disk1 { top:448px; left:55px;background:#FF8C00; width:300px; }
 #disk2 { top:422px; left:75px;background:#8B008B; width:260px; }  
 #disk3 { top:396px; left:95px;background:#006400; width:220px; }
 #disk4 { top:370px; left:115px;background:#00008B; width:180px;  }
 #disk5 { top:344px; left:135px;background:#DC143C; width:140px;  }
 #disk6 { top:318px; left:155px;background:#7FFF00; width:100px;  }
 #disk7 { top:292px; left:175px;background:#8A2BE2; width:60px;  }

 #bottombar { position:absolute; top:500px; left:10px;background:#DCDCDC; border:1px solid black; height:30px; width:1000px; }
  

 button { float:right; margin-top:30px; margin-right:36px; padding:2px 30px; height:50px;}

 img { height:300px; width:30px; padding:0; margin:0; } /* for towers (bars) */
 .bar { height: 500px; width: 30px; padding:0; margin:0; background:#000;}
 











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}