div.inner-wrapper {
    width: 100%;
}

.header-section-bg {
    
    background-size: cover;
}



.inner-section {
    width: 960px;
    margin: 0 auto;
}

#header-section {
   height: 670px;
}

#logo-wrap {
    float: left;
    width: 18%;
}

.logo-img {
    width: 128px;
    height: 50px;
    display: block;
    margin: 15px 15px;
    background: url('../img/logo_128x50.png') no-repeat;
}

#header-menu {
    float: left;
    width: 82%;
    height: 50px;
    padding: 15px 0;
}

#header-menu .inline-menu {
    float: right;
    list-style: none;
}

#header-menu .inline-menu li {
    display: inline;
}

#header-menu .inline-menu li a {
    margin: 16px;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

#header-menu .inline-menu li a:hover {
    color: #FF4500;
}

#header-menu .inline-menu li a.menu-item-active {
    color: #FF4500;
}

#header-title {
    float: left;
    width: 100%;
    margin: 150px 0 0;
}

#header-title h1 {
    color: #FFFFFF;
    text-align: center;
}

.separator {
    height: 0px;
    width: 50px;
    margin: 5px auto;
    border-top: 1px solid #FFF;
}

#header-text {
    float: left;
    width: 100%;
    margin: 20px 0;
}


#header-text p {
    color: #FFF;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
#header-text p:hover {
    color: #FF4500;
    
}

#header-footer {
    float: left;
    width: 100%;
}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.Auto-logo{
	float: left;
	margin-top: 5px;
  width:250px;
  height: 50px;


}

#search-results-container{
width:30px;height:30px;
margin-right: 1000px;
z-index:3;
}

#label{
   margin-left: 20px;
   margin-top: 5px;
}

.SearchQuestion{
	float: left;
	padding-right: 10px;
  padding-left: 50%;
	width: 150%;
}

.Search{
	float: left;
	margin-left: 100px;
	margin-top: 15px;
	width: 40%;
}
.S{
  float: left;
  margin-left:140px;
  margin-top:20px;
}
.Searchbox{
  width:700px;
  float: left;
}

.colorBar{
	background-color: #000;
   height: 70px;
}

  .links > a {
        color: #F0FFFF;
   }

   .row{

   }

   .empty{
    height: 100px;
   }

   .empty2{
    height: 50px;
   }




   body {
   background-image: url('../assets/img/car-wheels-and-stock-images.png');
   background-repeat: no-repeat;
   display: block;
   height: 100%;
   width: 1400px;
   display: block;
  
   }

   .widthBar{
   	height: 300px;

   	margin-top: 10px;
   	position: relative;
   }

   .panel-body{
   	

   }

   button{
   	background-color: black;
      width: 100px;

   }

   button:hover {
    color: #000;
    background-color: #FF4500;
}

   .links >  a :hover {
    color: #000;
    background-color: #FF4500;
}



.whitelink{
color: #fff;
}

   .vertical_line{
   	border-right: 2px solid #2F4F4F;
   	height: 770px;
   	width:0px;
   	margin: 5px auto;
   	margin-top: 50px;
   	margin-left: 50px;
   	margin-right: 50px;
   	float: left;
   }

   #listedQuestions{
   	background-color: rgba(255,255,255,0.60);
   	width: 700px;
   	height: 850px;
   	float: left;

   }

   .rightSide{
   	background-color: rgba(255,255,255,0.60);
   	width: 300px;
   	height: 850px;
   	float: left;

   }
    .rightSide2{
    background-color: rgba(255,255,255,0.60);
    width: 300px;
    height: 750px;
    margin-top: 50px;
    margin-left:40px;
    float: left;

   }

   #AskQuestion{
   	background-color: #DCDCDC;
   	width: 750px;
   	height: 180px;
   	float: left;
   	opacity: 0.85;
   
   	margin-left: 10px;

   }

   .PanelPosition{
   	float: left;
    margin-top:50px; 
    background-color: rgba(255,255,255,0.70);
   }

   .PanelSize{
    width: 800px;
   }

   #Icontainer{
   	border: 0px none;

   }

   #Question{
   	border: 0px none;
   	width:650px;
   	height: 30px;
   	margin-left:50px;
   	margin-bottom: 5px;
   	padding-left: 10px;
   }

   #Description{
   	border: 0px none;
   	width:650px;
   	height: 80px;
   	margin-left:50px;
   	padding-left: 10px;
   }
   #Answer{
    border: 0px none;
    width:650px;
    height: 80px;
    margin-left:50px;
    padding-left: 10px;
   }
   #ImageBox{
    width:650px;
     position: center;
   }
   #innerImage img{

    position: center;

   }

   #Some{
   	background-color: #DCDCDC;
   	width: 280px;
   	height: 180px;
   	float: left;
   	opacity: 0.85;
   	
   	margin-left:70px;

   }

   .youtube{
      margin: 10px;
   }

   #AddVideo{
      float:left;
      color: #000;
      font-weight: 80;
      font-size: 80;
      margin-right: 150px;

   }

   #AddImage{
      float:left;
      color: #000;
      font-weight: 80;
      font-size: 80;
      margin-right: 120px;
   }

    #AddVideoIcon{
      float:left;
      margin-right: 5px;
     
   }

   #AddImageIcon{
      float:left;
      margin-left: 80px;
      margin-right: 5px;
      }
   

   a.dark-button {
    width: 120px;
    padding: 10px;
    color: #000;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #000;
}

a.dark-button:hover {
    color: #000;
    background-color: #FF4500;
    border: none;
    opacity: 0.85;
}

a.outercolor{
border: 2px solid #FF4500;
color: #FF4500;
}

.youtubeShow{
   margin-top: 15px;
   margin-left:50px;
   margin-right: 20px;
}

.Size{
  width: 600px;
  height:800px;
 
}

.Q{
  width: 650px;
  float: left;
  margin-top: 10px;
  
}
.Q2{

  padding-left: 100px;
  padding-top: 10px;
  background-color: #FFF;
  text-align: center;
  color: #000;
  height: 70px;
}
  



.number_of_Answers{

  width: 50px;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
}
.number_of_Views{
 
  width: 50px;
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #DCDCDC;
  text-align: center;
}
.right_part{

  width: 500px;
  float: left;
}

.Question_title{
  
  width: 500px;
  float: left;
}
.AdditionalInfo{
  height: 30px;
  width: 550px;
  float: left;
}
.Tag{
  height: 20px;
  margin: 5px;
  padding-right:5px;
  padding-left:5px;
  padding-top: 5px;
  background-color: #DCDCDC;
  float: left;
}

.timeAsked{
  height: 30px;
  width: 290px;
  float: right;

}
.float{
  float: left;
  margin-left: 5px;
  font-size:2;
  

}



.Hline{
  border: 1px solid #DCDCDC;
  width:650px;
  height: 0px;
  margin: 2px;
  float: left;
  margin-left: 20px;
}

.colorYouTube{
  color: #FF4500;
  margin: 0 auto;
}

#innerYoutube{
  width:1200px;
  height: 800px;

}

iframe: hover {
  opacity: 0.5;
}

.QuestionInner{
  width:1200px;
  height:1090px;
  margin-left: 100px;
  
 }

 .innerQ{
  height: 650px;
  overflow-y:scroll;
 }
 #AllAnswers{

  
}
 #QuestionDetail{
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color:rgba(255,255,255,1);
  padding-left: 10px;
  padding-top: 5px;

  
 }


 .AnswersDiv{
  margin-bottom: 15px;
  padding-left: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #DCDCDC;
  background-color: rgba(255,204,153,0.70);

 }
 .userData{
  float: right;
 }
 .AnswerContent{
  float: left;
  
 }
 .float2{
  float: left;
  width:680px;
  margin-bottom: 15px;
 }

.Recommended{
  padding-bottom:15px;
  padding-top:15px;
  text-align: center;
  color: #000;
  background-color: #FFF;
}



















 // For like buttonn
.icon {
    background-color: red;
    -webkit-mask:  url(icon.svg) no-repeat 50% 50%;
    mask: url(icon.svg) no-repeat 50% 50%;
}
.icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
  mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}


.icon-1 { background-color: red; }
.icon-0 { background: #666; }


.icon-orange { background-color: orange; }
.icon-yellow { background-color: yellow; }
.icon-green { background-color: green; }
.icon-blue { background-color: blue; }
.icon-indigo { background-color: indigo; }
.icon-violet { background-color: violet; }

.icon-cyan { background-color: cyan; }
.icon-magenta { background-color: magenta; }
.icon-lime { background-color: lime; }
.icon-olive { background-color: olive; }
.icon-maroon { background-color: maroon; }
.icon-purple { background-color: purple; }

.icon-white { background: white; }
.icon-gray10 { background: #e5e5e5; }
.icon-gray20 { background: #ccc; }
.icon-gray30 { background: #b2b2b2; }
.icon-gray40 { background: #999; }
.icon-gray50 { background: #7f7f7f; }

.icon-gray70 { background: #4c4c4c; }
.icon-gray80 { background: #333; }
.icon-gray90 { background: #191919; }
.icon-black { background: black; }

.icon-gradient { 
  background: -webkit-radial-gradient(50% 50%, red, white);
  background: radial-gradient(50% 50%, red, white); 
}

.icon-kitten { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/grumpy.jpeg) 50% 0%;
  background-size: cover;
}

.icon-animation { 
  background: red;
  -webkit-animation: ❤ 6.66s infinite linear;
  animation: ❤ 6.66s infinite linear; 
}
