/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#mainApp{
    width: 600px;
    margin: 0 auto;
    padding-right: 0px;
    border:2px solid #808080;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#mainApp h1{
    margin:0 auto;
    text-align: center;
    width:100%;
    padding-top: 30px;
    font-size: 30px;
  
}

#Icontainer{
    margin:0 auto;
    width:600px;
    height:40px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

#Item{
    width:73%;
    height:45px;
    border:2px solid #808080;
}
#label{
    font-weight: bold;
    font-size: 20px;
}
textarea{
    margin:0 auto;
    width:550px;
    height:80px;
    margin-left: 20px;
    margin-top: 0px;
    border:2px solid #808080;
    padding: 10px;

    
}

 button { 
    float:right;
    bottom: 30px;
    margin:0 auto;
    padding: 0px;
    margin-top: 4px;
    margin-right: 40px;
    margin-bottom: 30px; 
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    height:40px;
    border:2px solid #808080;
    border-radius: 5px;
    background: #C0C0C0;
}

.separator {
    height: 0px;
    width: 300px;
    margin: 5px auto;
    border-top: 2px solid #808080;
    margin-top: 35px;
}

.AddedItem{
    margin:0 auto;
    width:550px;
    height:200px;
    margin-left: 20px;
    margin-top: 0px;
    border:1px solid #808080;
    border-radius: 5px;

}



input{
    margin: 0px auto;
    padding-left: 10px;

}


input#Delete{
    width:40px;
    height: 50px
}

body{
    background: url('../Image-put-it-under-gredient_1705x625.png') no-repeat;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}